<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/editarProducto.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/editarProducto.js" defer></script>
    <script src="../js/header.js" defer></script>
    <script src="../js/authentification.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Editar Producto</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header id="header-container"></header>
    <main>
        <section class="container">
            <div id="head">
                <h2>Editar Producto</h2>
            </div>
            <form action="" id="edit-product-form">
                <div class="form-row">
                    <div class="input-whit-icon">
                        <label for="folio">Folio del producto</label>
                        <div class="input-wrapper">
                            <i class="input-icon">#</i>
                            <input type="text" id="folio" name="folio" required="required" />
                        </div>
                    </div>
                    <div class="input-whit-icon">
                        <label for="nombre">Nombre del producto</label>
                        <div class="input-wrapper">
                            <i class="input-icon"></i>
                            <input type="text" id="nombre" name="nombre" required="required" />
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="input-whit-icon">
                        <label for="precio">Precio</label>
                        <div class="input-wrapper">
                            <i class="input-icon">$</i>
                            <input type="number" id="precio" name="precio" min="0" required="required"
                                placeholder="0.00" />
                        </div>
                    </div>
                    <div class="input-whit-icon">
                        <label for="stock">Stock</label>
                        <div class="input-wrapper">
                            <i class="input-icon"></i>
                            <input type="number" id="stock" name="stock" min="0" required="required" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-whit-icon">
                        <label for="categoria">Categoría</label>
                        <div class="input-wrapper">
                            <select id="categoria" name="categoria" required="required">
                            </select>
                        </div>
                    </div>
                    <div class="input-whit-icon">
                        <label for="activo">Activo</label>
                        <div class="input-wrapper">
                            <select id="activo" required="required">
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                    </div>
                </div>
                <button type="submit">Actualizar Producto</button>
            </form>
        </section>
    </main>
</body>

</html>