* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #213244;
  font-family: Arial, sans-serif;
}

/*Contenedor padre del card*/
.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

/*card centrado*/
.card-login {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  min-width: 280px;
  padding: 25px;
  transition: transform 0.09s ease;
  width: 20vw;
}

.card-login:hover {
  border: none;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.582);
  transform: scale(1.03);
  transition: transform 0.1s ease-in;
}

.card-login img {
  width: 15vh;
  align-self: center;
  margin-bottom: 15px;
  border-radius: 50px;
  transition: border 0.005s ease;
}

.card-login img:hover {
  border: 2px solid #000;
}

#login-formulario {
  display: flex;
  flex-flow: column;
  align-items: center;
}

p {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.input-login,
.input-password {
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid transparent;
  outline: none;
  background-color: #acada8;
  color: #0d1b2a;
  font-size: 14px;
  transition: border 0.005s ease;
}

.input-login:hover,
.input-password:hover {
  background-color: #b9bab6;
  border: 2px solid #000;
}

#button-login {
  margin-top: 25px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #415a77;
  color: #e0e1dd;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button-login:hover {
  background-color: #778da9;
}