* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #0d1b2a;
  color: #e0e1dd;
  padding: 40px;
}

/* TITULO */
h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #e0e1dd;
}

/* SECCIONES GENERALES */
section {
  background-color: #1b263b;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.headers {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

/* INFO VENTA */
.fila-producto,
.venta-info {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.venta-info label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.fila-producto input,
.fila-producto select {
  margin-top: 8px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #e0e1dd;
  color: #0d1b2a;
}

.fila-producto span {
  align-content: center;
}

/* PRODUCTOS */
.productos-section h3 {
  margin-bottom: 15px;
  color: #e0e1dd;
}

.productos-vendidos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

/*Cuando se crea el producto este es el estilo que agarrará*/
.producto-card {
  display: flex;
  flex-direction: column;
  background-color: #415a77;
  padding: 12px;
  border-radius: 8px;
}

.producto-card input {
  padding: 8px;
  border-radius: 6px;
  margin: 5px;
  border: none;
  outline: none;
  background-color: #e0e1dd;
  color: #0d1b2a;
  font-size: 13px;
}

/* BOTONES */
button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  background-color: #415a77;
  color: #e0e1dd;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #778da9;
  transform: translateY(-2px);
}

/* TOTALES */
.totales-section {
  display: flex;
  justify-content: space-between;
  background-color: #415a77;
  font-size: 16px;
}

.totales-section div {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

/* BOTÓN FINAL */
#btn-registrar-venta,
#btn-agregar-producto {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  padding: 12px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .venta-info {
    flex-direction: column;
  }

  .producto-card {
    grid-template-columns: 1fr;
  }

  .totales-section {
    flex-direction: column;
    gap: 10px;
  }
}