<div class="top-bar">
    <i class="fa fa-bars" id="menuBtn"></i>
    <span id="user-role"></span>
    <div class="header-right">
        <span id="user-role"></span>
        <button id="headerLogoutBtn" class="logout-pill">
            <i class="fa fa-sign-out"></i> Salir
        </button>
    </div>
</div>

<nav id="hamburgerLinks">
    <a href="dashboard.html" data-page="dashboard.html">Menú Principal</a>
    <a class='admin-exclusive' href="crearProducto.html" data-page="crearProducto.html">Crear Producto</a>
    <a class='admin-exclusive' href="editarProducto.html" data-page="editarProducto.html">Editar Producto</a>
    <a href="inventario.html" data-page="inventario.html">Inventario</a>
    <a href="ventas.html" data-page="ventas.html">Registrar Venta</a>
    <a href="devoluciones.html" data-page="devoluciones.html">Registrar Devoluciones</a>
    <a class='admin-exclusive' href="reportes.html" data-page="reportes.html">Ver Reportes</a>
    <a class='admin-exclusive' href="registrarUsuario.html" data-page="registrarUsuario.html">Registrar Usuario</a>
    <a href="#" id="logoutBtn">
        <i class="fa fa-sign-out"></i> Cerrar Sesión
    </a>
</nav>